*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 25px;
    background: linear-gradient(to bottom right, hsl(261, 72%, 27%)  10%, hsl(298, 76%, 20%)  60%,hsl(350, 100%, 42%));
    color: rgb(234, 234, 234);

    display: flex;
    justify-content: center;
    text-align: center;
}