@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&family=Oswald&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    width: 100vw;
    height: 100vh;
    
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;

    background-color: #47B5FF;
    color: #06283D;

    /* display: flex;
    justify-content: center;
    text-align: center; */
}

* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: orange;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  }